<div ng-include="'components/navbar/navbar.html'"></div>

<head>
</head>

<body>

<!--
<div ng-app="ajsApp" ng-controller="UserCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}
</div>
-->


<div id="main-wrap">
    <div id="sidebar">
	<div class="container">
	<h3>1 BitCoin Spot Price(Live JSON data from <a href="http://coinabul.com/">Coinabul</a>)</h3>

		<div ng-app="ajsApp" ng-controller="DrawCtrl">
			<canvas width="600" height="400" style="border:1px solid #c3c3c3;" chart-draw></canvas>
		</div>

		<div ng-app="ajsApp" ng-controller="HttpCtrl">
			<div class="col-sm-6">
			<table class="table table-striped">
			  <tbody>
			  <td>
			    <span class="glyphicon glyphicon-usd">{{'USD:'+ currencies.BTC.USD }}</span>
			  </td>
			  <td>
			    <span class="glyphicon glyphicon-usd">{{ 'Gold(Grams):'+ currencies.BTC.Grams }}</span>
			  </td></tbody>
			</table> 
			</div>
		<!--
		<textarea class="logTextArea">{{simpleGetCallResult}}</textarea>
		-->
			<p ng-show = error>Error!</p>
		</div>
	</div>
    </div>
	<div id="content-wrap">
		<div ng-app="ajsApp" ng-controller="TestCtrl">
			<h3>My Todo List</h3>

			<form ng-submit="todoAdd()">
			    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
			    <input type="submit" value="Add New">
			</form>

			<br>

			<div ng-repeat="x in todoList">
			    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
			</div>

			<p><button ng-click="remove()">Remove marked</button></p>
		</div>
	</div>
</div>
</body>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="http://www.linkedin.com/pub/jiajie-chen/6a/865/979">Jiajie Chen</a> 
  </div>
</footer>
